@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bannerMove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-banner {
  animation: bannerMove 10s linear infinite;
}
